@use '../02-tools/' as *;

.cookies {

    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    width: 100%;
    line-height: 1.8rem;
    padding: 1rem;
    color: white;
    background-color: black;

    &__text {
        font-size: 1.2rem;
        width: 90%;
        text-align: justify;
        padding: .5rem;
    }

    &__close {
        width: 10%;
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: .5rem;
        text-align: center;
        font-size: 1.5rem;
    }

}