@use '../01-settings/' as *;
@use '../02-tools/' as *;

.container {

width: 100%;
padding: 0 $gutter;
margin: 0 auto;
// border: 1px solid navy;

//dla ekranów 768px szer contentu ma być 740px

@include medium {
    max-width: 74 * $grid-base;
}

@include large {
    max-width: 112 * $grid-base;
}

}